.search
{
    height:80vh;
    width:65vw;
    background-color: #121212;
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    transition: height 0.2s ease;
}

.search::-webkit-scrollbar
{
    display: none;
}

.playbtn img{
    height: 15px;
    width: 15px;
}

.searchresult
{
  height: 90%;
  width: 90%;
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  flex-wrap: wrap;
  align-items: center;
}

@media (max-width:480px) {

   .search
{
    height:80vh;
    width:90vw;
}

.playbtn img{
    height: 15px;
    width: 15px;
}




    .search
{
    height:100vh;
    width:90vw;
    display: flex;
    justify-content: center;
    align-items: center;
   
}


.search .singlesong
{
    height: 180px;
    width: 150px;
    text-overflow: clip;
    font-size: 12px;
    
}



.search .singlesong #songimage
{
    height: 90px;
    width: 90px;
}


.search .singlesong .playbtn{
    
    right: 5px;
    bottom: 55%;
    height: 25px;
    width: 25px;
    
    
}


.search .singlesong .playbtn img{
    height: 10px;
    width: 10px;
}


.search .singlesong h4{
    white-space: nowrap;      /* Keep text in one line */
  overflow: hidden;         /* Hide extra text */
  text-overflow: ellipsis;
  text-wrap: wrap;
}


.search .singlesong .playbtn {
    
    right: 5px;
    bottom: 65%;
    height: 25px;
    width: 10px;
    
    
}


.album .section .songs .singlesong .playbtn img{
    height: 10px;
    width: 10px;
}




    
}


