.playlist {
  height: 80vh;
  width: 25vw;
  background-color: #121212;
  border-radius: 10px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.myPlaylistSection {
  width: 100%;
  height: 100%; /* Take full height of .playlist */
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.myPlaylistSection h4 {
  margin-left: 10px;
  margin-bottom: 8px;
  font-size: 16px;
}

.myPlaylistGrid {
  flex: 1; /* Fill remaining space */
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-right: 5px;
}

.myPlaylistGrid::-webkit-scrollbar {
  width: 6px;
}

.myPlaylistGrid::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 10px;
}

.song-card {
  background: #1e1e1e;
  color: white;
  border-radius: 10px;
  min-width: 120px;
  padding: 8px;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  text-align: left;
  align-items: center;
  gap: 10px;
}

.song-img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 6px;
}

.song-title {
  font-weight: 600;
  font-size: 13px;
}

.song-artist {
  font-size: 11px;
  color: #aaa;
}

.play-btn {
  margin-left: auto;
  padding: 6px 10px;
  background-color: #39DE74;
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-size: 13px;
}

.play-btn:hover {
  background-color: #555;
}

#buttonplay
{
  height: 10px;
  width: auto;
}

@media (max-width:480px) {

  .playlist {
  
  width: 90vw;
  
}
  
}