.login
{
    height:85vh;
    width:65vw;
    background: linear-gradient(#2a2a2a,#040404);
    border-radius: 10px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container img
{
    height: 50px;
    width: 50px;

}

.container ul 
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
    gap: 20px;
}

.container ul li button
{
    height: 40px;
    width: 300px;
    border-radius: 20px;
    color: #E3E3E3;
    background-color: #121212;
}

.container ul li button:hover
{
    border-color: white;
}

.existing1
{
    padding-top: 20px;
    width: 50%;
    padding-left: 190px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-top: 0.1px solid #292929;
    
}

#start
{
    padding-left: 50px;
}


.existing1 li,input
{
    height: 40px;
    width: 300px;
    list-style: none;
    background: transparent;
    border-color: 0.1px solid white;
    outline: none;
    color: white;
    
}

.existing1 button
{
    height: 40px;
    width: 300px;
    color: black;
    font-weight: bold;
    background-color: #3BE477;
    border-radius: 20px;
}

.existing1 button:hover
{
    scale: 1.05;
}

#symbol
{
    height: 30px;
    width: auto;
    position: absolute;
    padding-left: 10px;
    padding-top: 5px;
}

#lastbox
{
    border-top: 1px solid #7C7C7C;
}

li 
{
    color: #B3B3B3;
}

li a
{
    color: white;
}


@media (max-width:480px) {

    .login
    {
        width: 90vw;
    }

    .container
    {
        margin-left: 25px;
    }

    .login
    {
        width: 90vw;
    }

    .existing
    {

        margin-right: 20px;

    }

    .existing li,input
{
    height: 35px;
    width: 250px;
 
}


.existing button
{
    height: 35px;
    width: 200px;
}
    
}
